$TERMINAL_HEIGHT: 35px;
$KEY_DUMP_PADDING: 20px;

.profile {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .profile__close-button {
    position: absolute;
    top: 2px;
    right: 10px;
    color: $TEXT_COLOR;
    font-size: 2em;
  }

  .profile__info {
    flex: 1;

    .profile__card {
      display: flex;
      flex-direction: row;
    }

    .dot {
      @include dot(60px);
    }

    .dot--profile {
      background-color: $TARGET_NODE_COLOR;
    }

    .dot--self {
      background-color: $SELF_NODE_COLOR;
    }

    .profile__card__content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin: 0;
      }
    }

    .profile__fingerprint {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;

      a {
        text-decoration: none;
        font-weight: bold;
        color: $TEXT_COLOR;

        sup {
          margin-left: 5px;
          font-size: 0.5em;
        }
      }
    }

    .profile__emails {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }

    .profile__identities {
      list-style: none;
      padding: 0;
      margin: 0;

      .profile__identity {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5em;

        text-decoration: none;
        color: $TEXT_COLOR;
        background-color: $BACKGROUND_COLOR;

        padding: 0.5em 1em;
        margin: 0.5em 0;

        border-radius: 10px;
        box-shadow: 0 0 5px 0 $BORDER_COLOR;

        .profile__identity__icon {
          font-size: 2.5em;
          width: 1em;
          display: flex;
          justify-content: center;
        }

        .profile__identity__name {
          font-size: 1.25em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
        }

        .profile__identity__supliment {
          font-size: 0.75em;
          color: gray;
        }
      }

      .profile__identity--add {
        justify-content: center;
        background-color: $ACCENT_BACKGROUND_COLOR;
      }
    }
  }

  .profile__management {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.key_dump {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  border: 1px solid $BORDER_COLOR;
  border-radius: 20px;
  padding: $KEY_DUMP_PADDING;
  background-color: $ACCENT_BACKGROUND_COLOR;

  .key_dump__terminal {
    height: $TERMINAL_HEIGHT
  }

  .key_dump__output {
    height: calc(100vh - $NAVBAR_HEIGHT - $TERMINAL_HEIGHT - 2 * $KEY_DUMP_PADDING);
    overflow: auto;
    word-wrap: break-word;
    line-height: 1;
  }
}