.profile {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .profile__close-button {
    position: absolute;
    top: 2px;
    right: 10px;
    color: $TEXT_COLOR;
    font-size: 2em;
  }

  .profile__info {
    flex: 1;

    .profile__card {
      display: flex;
      flex-direction: row;
    }

    .dot {
      @include dot(60px);
    }

    .dot--profile {
      background-color: $TARGET_NODE_COLOR;
    }

    .dot--self {
      background-color: $SELF_NODE_COLOR;
    }

    .profile__card__content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin: 0;
      }
    }

    .profile__fingerprint {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;

      a {
        text-decoration: underline;
        font-weight: bold;
        color: $TEXT_COLOR;

        sup {
          margin-left: 5px;
          font-size: 0.5em;
        }
      }
    }

    .profile__emails {
      display: flex;
      flex-direction: row;
      gap: 0.5em;

      .fa-envelope {
        line-height: 1.5em;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        span,
        a {
          text-decoration: none;
          color: $TEXT_COLOR;
        }

        .fa-check-circle {
          color: limegreen;
          margin-left: 0.5em;
        }
      }
    }

    .profile__identities {
      list-style: none;
      padding: 0;
      margin: 0;

      .profile__identity {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5em;

        text-decoration: none;
        color: $TEXT_COLOR;
        background-color: $BACKGROUND_COLOR;

        padding: 0.5em 1em;
        margin: 0.5em 0;

        border-radius: 10px;
        box-shadow: 0 0 5px 0 $BORDER_COLOR;

        .profile__identity__icon {
          font-size: 2.5em;
          width: 1em;
          display: flex;
          justify-content: center;
        }

        .profile__identity__content {
          flex: 1;
        }

        .profile__identity__name {
          font-size: 1.25em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
        }

        .profile__identity__supliment {
          font-size: 0.75em;
          color: gray;
        }

        .fa-check-circle {
          color: limegreen;
        }
      }

      .profile__identity--add {
        justify-content: center;
        background-color: $ACCENT_BACKGROUND_COLOR;
      }
    }
  }

  .profile__management {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.key-dump {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 0 auto;

  .key-dump__terminal {
    width: 75%;
    background-color: $ACCENT_BACKGROUND_COLOR;
    padding-left: 1em;
    border: 1px solid $BORDER_COLOR;
    border-radius: 10px;

    code:nth-child(1) {
      display: flex;
      align-items: center;
      height: 3em;
    }

    code:nth-child(2) {
      display: block;
      overflow: scroll;
      overflow-x: hidden;
      height: calc(100vh - 7em);

      pre {
        line-height: 1;
      }
    }
  }

  .key-dump__info {
    h1 {
      text-align: center;
    }

    .key-dump__qr {
      background-color: white;
      padding: 1em;
      border-radius: 10px;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .key-dump__actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1em;

      margin-top: 1em;

      a {
        display: flex;
        align-items: center;
        gap: 0.5em;

        text-decoration: none;
        color: $TEXT_COLOR;
        background-color: $ACCENT_BACKGROUND_COLOR;

        padding: 0.5em 1em;
        border-radius: 10px;
        box-shadow: 0 0 5px 0 $BORDER_COLOR;

      }
    }
  }
}