// Calor palette
$BACKGROUND_COLOR: #1C2127;
$ACCENT_BACKGROUND_COLOR: #223041;
$TEXT_COLOR: #E1E1E1;
$LINK_COLOR: #3F3F3F;
$ARROW_COLOR: $LINK_COLOR;
$NODE_COLOR: #BEC6CF;
$SELF_NODE_COLOR: #28A4D9;
$TARGET_NODE_COLOR: #FF7A00;
$PATH_COLOR: #e10000;
$BORDER_COLOR: $LINK_COLOR;
$BUTTON_COLOR: #28A4D9;

// Navbar
$NAVBAR_HEIGHT: 70px;