.vouch-checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  align-self: center;

  h1 {
    text-align: center;
  }

  .vouch-checklist__form {
    width: 50%;
    margin: 0 auto;

    .vouch-checklist__form__field {
      display: flex;
      align-items: center;

      margin-bottom: 20px;
      font-size: 1.2rem;
    }

    input[type="checkbox"] {
      width: 25px;
      height: 25px;
    }

    .vouch-checklist__form__submit {
      width: 100%;
      text-align: center;
      margin-top: 3rem;

      button {
        @include icon-button(75px);
        font-size: 3rem;
        margin: 0 auto;
      }
    }
  }
}

.vouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: $NAVBAR_HEIGHT;

  select {
    border: 1px solid $LINK_COLOR;
    border-radius: 5px;
    padding: 10px;
    background-color: $ACCENT_BACKGROUND_COLOR;
    font-size: 2rem;
    color: $TEXT_COLOR;
    margin: 0 auto;
  }

  .vouch__option {
    width: 100%;

    .vouch__mono {
      font-family: monospace;

      background-color: $ACCENT_BACKGROUND_COLOR;
      color: $TEXT_COLOR;

      padding: 5px;
      border: 1px solid $LINK_COLOR;
      border-radius: 5px;

      white-space: break-spaces;
    }

    .vouch__form {
      text-align: center;

      label {
        cursor: pointer;
      }

      input[type="file"] {
        display: none;
      }

      .vouch__upload-icon {
        @include icon-button(100px);

        margin: 0 auto;
        font-size: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &[data-format="openkeychain"] {
      text-align: center;

      svg {
        margin: 2rem auto;
        width: 60%;
      }

      .vouch__form {
        width: 100%;
        height: 100%;
        display: flex;


        textarea {
          background-color: $ACCENT_BACKGROUND_COLOR;
          color: $TEXT_COLOR;

          border: 1px solid $LINK_COLOR;
          border-radius: 5px;

          padding: 10px;
          margin: 0 auto;

          width: 100%;
          resize: none;
        }

        .vouch__submit {
          background-color: transparent;
          border: 0;
          margin: 0 auto;
          color: $TEXT_COLOR;
          cursor: pointer;

          .vouch__upload-icon {
            @include icon-button(100px);

            margin: 0 auto;
            font-size: 3rem;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}